/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

/* Estilos do Header */
header {
    background-color: #FFB6C1; /* Rosa bebê */
    color: #2c3e50; /* Azul escuro */
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #2c3e50; /* Azul escuro */
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos do Main */
main {
    padding: 20px 0;
}

main h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #FFB6C1; /* Rosa bebê */
}

main p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos do Footer */
footer {
    background-color: #FFB6C1; /* Rosa bebê */
    color: #2c3e50; /* Azul escuro */
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 16px;
}

/* Estilos do Formulário de Contato */
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2c3e50; /* Azul escuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

form button:hover {
    background-color: #34495e; /* Azul escuro mais escuro */
}
